body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

h1 {
  font-size: 3.5em;
  text-align: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  background-image: linear-gradient(to left, #073763, #041C31);
  background-size: cover;
  font-weight: 600;
  padding: 40px;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  color: #333;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #073763;
  color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size : 30px;
}

label {
  display: block;
  margin-bottom: 5px;
}
/*********************************Inputs to page*******************************/
input[type="number"] {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size : 25px;
}

input[type="submit"] {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  font-size : 25px;
}

input[type="submit"]:hover {
  background-color: #40474D;
  color: white;
}

p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

span {
  color: #007bff;
}
/*********************************Output table***********************************/
table {
  border-collapse: separate;
  width: 100%;
  margin: 20px 0;
}
/*Add rounded corners for table*/
th:first-of-type {
  border-top-left-radius: 20px;
}
th:last-of-type {
  border-top-right-radius: 20px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 20px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 20px;
}

table tr:hover > td {
    background: #88A4BE;
}

th {
  background-color: #073763;
  color: white;
  font-size: 1.5em;
  padding: 10px;
  text-align: center;
}

td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
}

td:first-child {
  font-weight: bold;
}

td:nth-child(odd) {
  background-color: #f2f2f2;
}

td:last-child {
}

tr:last-child {
  border: 2px solid forestgreen;
  font-weight: bold;
  color: forestgreen;
}

/*Disclaimer at end of page*/
footer {
  font-size: 3px;
  text-align: center;
  padding: 10px;
  color: #073763;
}

p.user_text {
  text-align: center;
  color: limegreen;

}

